.card.dark {
    background-color: black;
    color: #e8e7e6;
  }
  .card.light {
    background-color: #e8e7e6;
    color: black;
  }
  .card.colorful {
    background: linear-gradient(166deg, rgba(237, 193, 211, 1) 0%,rgba(212, 149, 161, 1) 60%, rgba(162, 63, 63, 1) 100%, rgba(127, 188, 242, 1) 100%);
  }